.request {
  height: 100%;
}
.request .request-header {
  width: 100%;
  height: 4.1875rem;
  z-index: 1;
  background-color: rgba(197, 194, 194, 0.397);
  border-bottom: 1px solid #00000099;
}
.request .request-header .request-header-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 1.5625rem;
  align-items: center;
  height: 100%;
}
.request .request-header .request-header-container .title {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
}
.request .request-header .request-header-container .title h4 {
  font-size: 1.25rem;
  font-weight: 700;
}
.request .request-header .request-header-container .title div.number {
  margin-left: 1.8rem;
}
.request .request-header .request-header-container .title div.number .application-num, .request .request-header .request-header-container .title div.number .payment-num {
  text-align: left;
  font-size: 0.75rem;
  color: #212529;
  display: block;
}
.request .request-header .request-header-container .title div.icon {
  margin-left: 1rem;
}
.request .request-header .request-header-container .title div.icon i {
  font-size: 1.25rem;
}
.request .request-header .request-header-container .request-header_status {
  margin-right: 1rem;
  margin-top: 1rem;
  align-self: flex-start;
  width: 5rem;
  height: 5rem;
  max-width: 5rem;
  max-height: 5rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  background: #fff;
  color: #44A5CC;
  border: 2px solid #44A5CC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.request .request-header .request-header-container .request-header_status > div {
  white-space: normal;
}
.request .request-body {
  padding-left: 1.5625rem;
  padding-bottom: 3rem;
  overflow: auto;
  height: 100%;
  max-height: calc(100% - 10rem);
}
.request .request-body .errors-messages-container {
  color: #df6561;
}
.request .request-body .purpose-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}
.request .request-body .purpose-container > * {
  flex: 1 0 50%;
  max-width: 100%;
}
.request .request-body .purpose-container > *.other-purpose .form-group.label_input {
  height: 100%;
}
.request .request-body .purpose-container > *.other-purpose .form-group.label_input > div {
  width: 100%;
}
.request .request-body .purpose-container > *.other-purpose .form-group.label_input > div input {
  height: 100%;
}
.request .request-body .other-payment-method {
  margin-left: -15px;
}
.request .request-body .table_payment td {
  padding: 0;
}
.request .request-body .table_payment td input {
  padding: 0 0.5rem;
}
.request .request-body .label_input .mx-datepicker .mx-input-wrapper {
  position: unset;
}
.request .request-body .label_input .vs__selected-options {
  display: flex;
  flex-wrap: nowrap;
}
.request .request-body .label_input input:disabled {
  color: #030303 !important;
  background-color: #E5E5E5 !important;
  cursor: not-allowed;
}
.request .request-body .label_input .form-control-plaintext {
  padding: 0.375rem 0.75rem;
  background: #fff;
  outline: none;
}
.request .request-body .table-container .table > tbody > tr > td[data-field="hinmokuRnm"] {
  min-width: 12.5rem !important;
}
.request .request-footer.btnForRequest {
  display: flex;
}
.request .request-footer.btnForRequest .btn {
  padding: 0.3rem 1rem;
  margin-left: 2rem;
  width: auto;
  height: auto;
}
.request .change-value {
  background: #FCE655;
}
